<body class="body-edit">
    
<div class="background-container-edit">
   <div class="edit-hbs">
        <h1 class="edit-page-title">Create a New Historical Event</h1>

              <form action="/events/create" method="POST" enctype="multipart/form-data" class="edit-form">
 
                 <label class="label-edit">Title</label>
                     <input type="text" name="title" required>
                 <label class="label-edit">Date</label>
                     <input type="date" name="date" required>
                 <label class="label-edit">Location</label>
                     <input type="text" name="location" required>
                 <label class="label-edit">Description</label>
                     <textarea name="description" rows="5" required></textarea>
                 <label class="label-edit">Links</label>
                     <input type="text" name="links">
                 <label class="label-edit">Image</label>
                     <input type="file" name="image"> 
                 <label class="label-edit">NotableCharacters</label>
                     <input type="text" name="notableCharacters">

                   <button type="submit" class="update-edit">Create Event</button>
                   <button type="button" class="discard-edit" onclick="window.location='/events/event-archive'">Discard</button>
             </form>

    </div>
</div>
</body>
