<div class="background-container">
   <div class="createhbs">
        <h1 style="color: rgb(2, 8, 2);">Edit Historical Event</h1>

        <form action="/events/{{ event._id }}" method="POST" enctype="multipart/form-data">
            
            <button type="submit">Save Changes</button>
        </form>
    </div>
</div>
