<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <link rel="stylesheet" href="/stylesheets/not-found.css">
<div title="404">404</div>
<p>This route does not exist on the app! Check if everything is ok! Check your routes to see what might have happened
</p>
</body>
</html>







