/* body.page {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/background-login.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-selector {
    margin-bottom: 20px;
}

.page-content {
    width: 60%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.page-content p {
    white-space: nowrap;
}

#spanish,
#english,
#catalan {
    background-color: #f9f9f9;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.typing-animation {
    animation: typing 3s steps(40) forwards;
}

.hidden {
    display: none;
}

.back-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #333;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100px;
    margin: 0 auto;
} */

