.body-event-comments {
    font-family: 'Arial', sans-serif;
    background-color: rgb(122, 173, 234); 
    color: #333; 
    margin: 0;
    padding: 0;
  }
  
  .container-comments {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d7e7b5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .h-comments {
    font-size: 2em;
    color: #8b9dcb; 
    margin-bottom: 20px;
    text-align: center;
  }
  
  .comment-comments:nth-child(odd) {
    background-color: #eee0e0; 
  }
  
  .comment-comments:nth-child(even) {
    background-color: #e2b1b1; 
  }
  
  .comment-comments {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .comment-comments p {
    margin: 0;
  }
  
  .link-comment {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #6d6ebe; 
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .link-comment:hover {
    background-color: #b852a2; 
  }
  
  