.container-single-event {
  background-image: url('/images/bg-event-archive.jpg');
  background-size: cover;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.h1-single {
  font-size: 36px;
  margin-bottom: 10px;
  color: #7b5e5e;
  text-align: center;
  text-decoration: underline;
}

.content-wrapper {
  display: flex;
}

.event-details {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.label-single {
  font-weight: bold;
  margin-top: 10px;
  display: block;
  color: #333;
}

.event-media {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.event-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 10px solid #160404;
}

.event-description {
  flex: 1;
  padding: 20px;
}

.form-container {
  margin-top: 20px;
}

.form-label-single {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  margin-bottom: 10px;
}
.link {
  color: #0c0f11;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
}
.link:hover {
  text-decoration: underline;
  color: red;
}

.link-container-single {
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.link-single {
  display: inline-block;
  padding: 10px 20px;
  background-color: #072132;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 10px;
  border: #2980b9;
}

.link-single:hover {
  background-color: #b12074;
}

.star-container-single-hbs {
  display: flex;
  align-items: center;
  margin-left: 90px; 
  padding-left: 30px; 
}

.star-input {
  display: none;
}

.star-label {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 40px; 
}
.star-label:hover,
.star-input:checked + .star-label,
.star-input:hover + .star-label {
  color: rgb(240, 240, 67);
}


