
.container-single-event {
    background-color: rgba(126, 11, 11, 0.3);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.h1-single {
    font-size: 36px;
    margin-bottom: 10px;
    color: #7b5e5e;
    text-align: center;
}

.content-wrapper {
    display: flex;
}

.event-details {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.label-single {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #333;
}

.event-media {
    flex: 1;
    padding: 20px;
    text-align: center;

}

.event-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.event-description {
    flex: 1;
    padding: 20px;
}

.form-container {
    margin-top: 20px;
}

.form-label-single {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    margin-bottom: 10px; 
}


.form-button-single {
    background-color: #6c6ad9;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-button-single:hover {
    background-color: #45a049;
}
.link{
    color: #3498db;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}
.link:hover {
    text-decoration: underline;
}
.star-container-single-hbs {
display: flex;
align-items: center;
}

/* .star-input {
display: none; 
} */

.star-label {
/* width: 40px;
height: 40px;  */
background: url('/images/estrella3.png') no-repeat; 
cursor: pointer;
background-repeat: no-repeat;
}

.star-input:checked + .star-label {
background: url('/images/estrellas.jpg') no-repeat;  
}

.link-container-single {
    display: flex;
    gap: 10px;
    margin-top: auto; 
}

.link-single {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
    border: #2980b9;
}

.link-single:hover {
    background-color: #2980b9;
}

