/* event.archive */
.bodyArchive {
  background-color: antiquewhite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative; 
}

.events-container {
  text-align: center;
  margin-bottom: 20px;
}

.event-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.event-card {
  width: 300px;
  margin: 20px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: url('/images/background-login.webp');
  transition: transform 0.3s ease-in-out;
}

.event-card:hover {
  transform: scale(1.05);
}

.event-card a {
  text-decoration: none;
  color: #333;
  display: block;
}

.event-card-image {
  height: 150px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* .event-card .event-card-image img {
  max-width: 100% !important;
  height: auto !important;
} */


.event-card-title {
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

.event-card-creator {
  padding: 10px;
  text-align: center;
  color: #555;
}
/* HASTA AQUI EVENTOS Y SUS ESTILOS */

.user-navigation {
  background-color: #c14141;
  color: #fff;
  padding: 10px;
  z-index: 1; 
  border-radius: 10px;
}

/* .user-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
} */

.user-navigation a {
  text-decoration: none;
  color: #fff;
}

h1 {
  color: #333;
}

/* Estilos para formularios */
.createhbs {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.createhbs h1 {
  color: rgb(2, 8, 2);
  text-align: center;
}

.createhbs label {
  display: block;
  margin: 10px 0;
  color: #5c39bb;
  font-size: 24px;
}

.createhbs input,
.createhbs textarea {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.createhbs textarea {
  resize: vertical;
}

.createhbs button {
  background-color: #8923a2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.createhbs button:hover {
  background-color: #45a049;
}

/* Estilos para fondos de secciones específicas */
.background-container {
  background-image: url('/images/fondoTemario.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .event-card {
    width: calc(100% - 20px);
    margin: 10px;
  }
}

/* ESTILOS PARA IMAGEN EN EVENT-SINGLE */

.event-image {
  max-width: 100%; /* La imagen no superará el ancho del contenedor */
  height: auto;    /* La altura se ajustará automáticamente para mantener la proporción */
  display: block;  /* Elimina cualquier espacio adicional debajo de la imagen */
  margin: 0 auto;   /* Centra la imagen en su contenedor si el ancho es menor que el contenedor */

  /* Estilos adicionales según tus preferencias */
}

/* event-single */
body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  color: #333;
  text-align: center;
}

.description {
  margin-bottom: 20px;
}

.event-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}

.form-container {
  margin: 20px 0;
}

.form-label {
  display: block;
  margin-bottom: 10px;
}

.form-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #555;
}

.star-container {
  margin-bottom: 20px;
}

.star-input {
  display: none;
}

.star-label {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('/images/estrella3.png');
  background-size: cover;
  cursor: pointer;
}


.link-container {
  margin-bottom: 20px;
}

.link {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}

.link:hover {
  text-decoration: underline;
}
.star-label.filled {
  background-image: url('/images/estrellas.jpg'); 
}

/* comments.css */

.body-event-comments {
  font-family: 'Arial', sans-serif;
  background-color: #5cea5c;
  margin: 0;
  padding: 0;
}

.container-comments {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.comment-comments {
  background-color: gold;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}

.comment-comments p {
  margin: 0;
}

.link-comment {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.link-comment:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #fff;
}

.h-comments {
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #007bff;
}



