
.user-navigation {
  background-color: #707fde;
  color: #fff;
  padding: 10px;
  z-index: 1; 
  border-radius: 10px;
  top: 0;
  width: auto;
  position: fixed;
}

.user-navigation a {
  text-decoration: none;
  color: #fff;
}

h1 {
  color: #333;
}

/* Estilos para formularios */
.createhbs {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.createhbs h1 {
  color: rgb(2, 8, 2);
  text-align: center;
}

.createhbs label {
  display: block;
  margin: 10px 0;
  color: #5c39bb;
  font-size: 24px;
}

.createhbs input,
.createhbs textarea {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.createhbs textarea {
  resize: vertical;
}

.createhbs button {
  background-color: #8923a2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
} 

.createhbs button:hover {
  background-color: #45a049;
}

/* Estilos para fondos de secciones específicas */
.background-container-create {
  background-image: url('/images/fondoTemario.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}  






/* EVENT SINGLE */

/* Estilos generales */
/* .bodyArchive-single {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f4daa3;
  color: #333;
  margin: 0;
  padding: 0;
}

.container-single-event {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Encabezado */
.heading-single {
  font-size: 2em;
  color: #2bbc41;
  margin-bottom: 10px;
}

/* Descripción */
.description-single {
  font-size: 1.2em;
  color: #333;
}

/* Imagen */
.event-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}

/* Comentarios y Valoración */
.form-container {
  margin-top: 20px;
}

.form-label {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.form-textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  resize: vertical;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.star-container-single {
  margin-bottom: 20px;
}

.star-input {
  display: none;
}

.star-label {
  font-size: 1.5em;
  color: #ffcc00;
  cursor: pointer;
}

.form-button {
  background-color: #2bbc41;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-button:hover {
  background-color: #1a8e32;
}

/* Valoración promedio */
.star-container-single {
  font-size: 1.5em;
  color: #ffcc00;
}

/* Enlaces */
.link-container-single {
  margin-top: 20px;
}

.link {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
}

.link:hover {
  color: #2bbc41;
}

/* Enlaces de acción */
.action-link {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  border-radius: 10px;
  transition: filter 0.3s ease-in-out;
}

.delete-link {
  background-color: #e74c3c;
}

.edit-link {
  background-color: #3498db;
}

.back-link {
  background-color: #95a5a6;
}

.view-comments-link {
  background-color: #2980b9;
}

.action-link:hover {
  filter: brightness(1.2);
}

/* Márgenes entre enlaces */
.link-container-single {
  margin-top: 20px;
}

/* Estilos para los enlaces específicos */
.delete-link:hover {
  background-color: #c0392b;
}

.edit-link:hover {
  background-color: #2980b9;
}

.back-link:hover {
  background-color: #7f8c8d;
}

.view-comments-link:hover {
  background-color: #1a6698;
} 
