.body-edit {
    margin: 0;
    padding: 0;
  
}

.background-container-edit {
    background-image: url("/images/fondo-edit.jpg");
    padding: 20px;
    height: 100vh; 
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-hbs {
    max-width: 600px;
    margin: 0 auto;
    width: 100%; 
}

.edit-page-title {
    color: rgb(2, 8, 2);
    text-align: center;
    font: oblique bold 120% cursive;
    font-size: 36px;
}

.edit-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.update-edit, .discard-edit {
    background-color: #061a4f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.update-edit:hover, .discard-edit:hover {
    background-color: #3e82da;
}

.edit-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.label-edit {
    color: black;
    
}

