/* .user-navigation {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
  }
  
  .user-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .user-navigation li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .user-navigation a {
    text-decoration: none;
    color: blue; 
  }
  .userprofile{
    background-image: url('/images/first.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #user {
    background-image: url('/images/user-background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(12, 9, 9);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
  }



  .container {
    padding-top: 100px;
  } */


